

{%extends 'base.html' %}

{% block notebook %}


<div class="container-fluid h-100 border border-danger">
    <div class="row border border-success" style="height:500px;">
        <div class="col 4 border border-sucess">

        </div>
        <div class="col 4 border border-sucess">
                        

                    
                </div>
            </div>
        <div class="col 4 border border-sucess">

        </div>
    </div>


    <div class="row h-30">
        <div class="col-12 border border-danger">
            
        </div>
    </div>
</div>

{%endblock%}